# .gitignore
# Игнорирование системных файлов
.DS_Store
Thumbs.db

# Игнорирование логов
*.log

# Игнорирование временных файлов
*.tmp
*.temp

# Игнорирование конфигурационных файлов с паролями
config.php

# Игнорирование папки с зависимостями
/vendor/
